<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %> <!-- read chapter 10: partial refactoring for more understanding -->
</ul>

<%= will_paginate %>